<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>WelcomePage</key>
    <array>
        <dict>
            <key>Title</key>
            <string>Welcome to my Awesome Company</string>
            <key>Body</key>
            <string>We know you will like it here</string>
            <key>Image</key>
            <string>/tmp/watowl.jpg</string>
        </dict>
    </array>
	<key>AssistantPages</key>
	<array>
		<dict>
            <key>PageType</key>
            <string>info</string>
            <key>Title</key>
            <string>Equipment Use Policy</string>
			<key>Content</key>
			<string>

For the rest of this document, because we are lazy, you ("the end user") will be described as "user", "you" or "hey you". You agree to not use this machine as a doorstop, door wedge or any other door stopping device. You agree to treat this machine as if it were one of your very own children and as such will not lock it in a hot car or leave it alone with strangers. If it gets messy from eating lunch, you will clean it up with non-harsh chemicals. Unlike a child, you shoud never give this machine a bath under any circumstance.

If liquids of any type are spilled upon this machine, you will immediately turn it off and unplug the power cable. No special emergency dance is required, removing power from the device promptly is necessary if you want it to survive the incident. If you must spill liquids on the machine reguarly, please be sure to spill non-sugary drinks (i.e. black coffee, diet soda, etc) as they are easier to clean up for the service technician.

This machine is given to you in good faith. If the machine is destroyed or otherwise made unusable before it is up for replacement, you may be issued a potato as a replacement. Please see the equipment use policy for potatoes in subsection 501.1p for more information on approved potato usage.




By clicking Continue, you agree to the above equipment use policy.
</string>
		</dict>
		<dict>
            <key>PageType</key>
            <string>weburl</string>
            <key>Title</key>
            <string>Setup Google 2-Factor Authentication</string>
			<key>Content</key>
			<string>http://www.google.com/landing/2step/</string>
		</dict>
		<dict>
            <key>PageType</key>
            <string>info</string>
            <key>Title</key>
            <string>Install Chrome.app</string>
			<key>Content</key>
			<string>
            1. Go to www.google.com/chrome
            2. Download Chrome
            3. Install Chrome
            4. Open Chrome
            5. Enjoy!
            </string>
		</dict>
        <dict>
            <key>PageType</key>
            <string>image</string>
            <key>Title</key>
            <string>Have a picture of this owl.</string>
            <key>Content</key>
            <string>/tmp/watowl.jpg</string>
        </dict>
        <dict>
            <key>PageType</key>
            <string>info</string>
            <key>Title</key>
            <string>Woot! All done.</string>
            <key>Content</key>
            <string>That wasn't so bad, was it?</string>
        </dict>
	</array>
</dict>
</plist>
